.column {
  background: #ebecf0;
  padding: 12px;
  border-radius: 12px;

  min-height: 400px;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
}

.column h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}
