@if (task) {
  <div class="modal-backdrop">

    <div class="modal">

      <button (click)="close.emit()">X</button>

      @if (isEditing || isCreating) {

        <h2>
          {{ isCreating ? 'Nova tarefa' : 'Editar tarefa' }}
        </h2>

        <input
          type="text"
          [(ngModel)]="editData.title"
          placeholder="Título"
        />

        <textarea
          [(ngModel)]="editData.description"
          placeholder="Descrição"
        ></textarea>

        <input
          type="date"
          [(ngModel)]="editData.dueDate"
        />

        <div class="modal-actions">
          <button (click)="saveEdit()">
            {{ isCreating ? 'Criar' : 'Salvar' }}
          </button>

          <button (click)="cancelEdit()">Cancelar</button>
        </div>

      }

      <!-- VIEW -->
      @if (!isEditing && !isCreating) {

        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>

        <div class="modal-actions">
          <button (click)="startEdit()">Editar</button>

          <button (click)="toggle.emit(task)">
            {{ task.status ? 'Reabrir' : 'Concluir' }}
          </button>

          <button (click)="delete.emit(task.id)">
            Excluir
          </button>
        </div>

      }


    </div>

  </div>
}
