<div class="dashboard">
  <header class="header">
    <div class="logo">TechX</div>

    <div class="user">
      <span>{{ user?.name }} </span>
      <button class="logout-btn" (click)="logout()">Sair</button>
    </div>
  </header>

  <div class="actions">
    <button class="add-btn" (click)="openCreateModal()">
      + Nova tarefa
    </button>
  </div>

  <div class="columns">
    <app-task-column
      title="To Do"
      [tasks]="todoTasks"
      (selectTask)="openTask($event)">
    </app-task-column>

    <app-task-column
      title="Done"
      [tasks]="doneTasks"
      (selectTask)="openTask($event)">
    </app-task-column>

  </div>
  @if (selectedTask) {
    <app-task-modal
      [task]="selectedTask"
      (close)="closeModal()"
      (toggle)="toggleTask($event)"
      (delete)="openDeleteConfirm($event)"
      (update)="updateTask($event)">
    </app-task-modal>
  }
  @if (confirmDeleteId) {
    <app-confirm-modal
      message="Tem certeza que deseja excluir essa tarefa?"
      (confirm)="confirmDelete()"
      (cancel)="closeConfirm()">
    </app-confirm-modal>
  }

</div>
